.qnavbtn{
    display: block !important;
    color: white !important;
    margin-right: 30px !important;
    /* border: 1px solid red !important; */
    
}
.qnavbtn:hover{
    text-decoration: underline !important;

}

.menuitem{
    top: 15px !important;

    padding: 0px !important;
    display: block !important;
    
}
.menuitem ul{
    
    padding: 0px;
    border-radius: 3px;
    color: black !important;
}

.menuitemlist p{
    background-color:white !important;
    color: black !important;


}
.menuitemlist{
    width: 290px !important;

}

/* hoverpop tab  */
.hoverpop{
    margin-top: 20px;
    
}






/* hoverpop tab  */

/* grid box css hovergrid */


.maingridbox{
    color:  black !important;
    padding: 15px !important;
    left: 0px !important;
    background-color: #fff !important;
    border-radius: 4px;

    color: #02203c !important;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 50%) !important;

}
.maingrid{
    margin: 0px 0px !important;
    /* background-color: rgb(12, 217, 108) !important; */
    width: 590px !important;
    padding: 10px 10px !important;
     border-radius: 4px;


}
.maingrid div{
    padding: 0px;
  
}
.maingrid:nth-child(1){
   padding-left: 0px !important;
}
.maingrid>div>div{
    /* background-color: red !important; */
    display: flex;
    justify-content: flex-start;
    /* background-color: red !important; */
   


  
}
.maingrid div div a{
    /* background-color: red !important; */
  
    text-decoration: none;
    margin-left: 10px;
    padding: 15px !important;
    border-radius: 4px;
    color: #02203c !important;
    color: #000000 !important;
}


/* .maingriditem1 div:hover{
    background-color: aqua !important;
} */
/* .maingrid div div:hover{
    background-color: aqua !important;
} */

.itemgrid1 div h3,p,.itemgrid2 div h3,p,.itemgrid3 div h3,p,.itemgrid4 div h3,p,.itemgrid5 div h3,p,.itemgrid6 div h3,p{
    color: #02203c;
}


.itemgrid1:hover{
    background-color: aqua !important;
}
.itemgrid1, .itemgrid3, .itemgrid5{
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.itemgrid2:hover{
    background-color: rgb(187, 255, 0) !important;
}
.itemgrid3:hover{
    background-color: rgb(0, 255, 68) !important;
    
}
.itemgrid4:hover{
    background-color: rgb(140, 0, 255) !important;
}
.itemgrid5:hover{
    background-color: rgb(204, 255, 0) !important;
}
.itemgrid6:hover{
    background-color: rgb(255, 0, 55) !important;
}

.gtwo{
    padding-left: 0px !important;
}